{% extends 'base.html' %} {% block title %}Login{% endblock title %} {% block
content %}
<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <form method="post" action="">
        {{ form.hidden_tag() }}
        <legend class="border-bottom mb-4">Join today</legend>
        <div class="form-group mb-3">
          {{ form.email.label(class="form-control-label") }} {{
          form.email(class="form-control form-control-lg") }}
        </div>
        <div class="form-group mb-3">
          {{ form.password.label(class="form-control-label") }} {{
          form.password(class="form-control form-control-lg") }}
        </div>
        <div class="form-check mb-3">
          {{ form.remember(class="form-check-input") }} {{
          form.remember.label(class="form-check-label") }}
        </div>
        <div class="form-group text-center mb-3">
          {{ form.submit(class="btn btn-outline-info btn-lg btn-block") }}
        </div>
        <div class="text-center mb-3">
          <small>
            <a href="#">Forgot Password?</a>
          </small>
        </div>
        <div class="border-top pt-3 text-center">
          <small class="text-muted">
            Don't have an account?
            <a href="{{ url_for('register') }}">Register</a>
          </small>
        </div>
      </form>
    </div>
  </div>
</div>
{% endblock content %}
